.content{
    text-align:center;
    padding-top:100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    padding-right: 10px;
}
#navbar{
    top:100px;
}